<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/arg-prog.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="/login"><img src="../../../assets/images/linkedIn-logo.png" id="linkedin"></a>
            <a href=""><img src="../../../assets/images/Instagram-logo.png" id="instagram"></a>
            <a href=""><img src="../../../assets/images/github-logo.png" id="github"></a>
            <a href=""><img src="../../../assets/images/facebook-logo.png" id="facebook"></a>
        </div>
    </div>
</div>

