<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/arg-prog.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/gabriel-solioz-4b6b55255/"><img src="../../../assets/images/linkedIn-logo.png" id="linkedin" class="boton"></a>
            <a href="https://www.instagram.com/gabi.solioz/"><img src="../../../assets/images/Instagram-logo.png" id="instagram" class="boton"></a>
            <a href="https://github.com/GabrielSolioz"><img src="../../../assets/images/github-logo.png" id="github" class="boton"></a>
            <a href="https://www.facebook.com/gabil.solioz"><img src="../../../assets/images/facebook-logo.png" id="facebook" class="boton"></a>
            <a href="/login" class="login" *ngIf="!isLogged">Login</a>
            <a class="login" (click)="onLogout()" *ngIf="isLogged">Logout</a>
        </div>
    </div>
</div>

