.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 0.5em;
    padding: 10px;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
    margin: 0 15px;
}
.btn{
    border-width: medium;
}


@media (max-width: 620px){
    .redes img{
        margin: 2px;
        width: 25px;
    }
    .btn{
        margin: 2px;
        padding: 2px 2px;
    }
}