<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 first-div">
        <p id="nombre">{{Persona.nombre}} {{Persona.apellido}}</p>
        <p id="segundop">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 second-div">
        <span>
            <h2>Acerca de mi:</h2>
            <p>Soy un estudiante de Analista en Sistemas y Licenciatura en Sistemas. Mi pasión por la tecnología y el
                deseo de aprender constantemente me han llevado a realizar una pasantía y varios cursos para mejorar mis
                habilidades y conocimientos. Estoy emocionado de seguir creciendo en mi carrera y enfrentar nuevos
                desafíos.
            </p>
        </span>
    </div>
</div>