.row {
    padding: 55px;
}

div {
    background-color: #020c1b;
}

h1,
h2 {
    color: rgb(255, 215, 0);
    font-family: cursive;
}

p {
    color: #4672fe;
    font-family: 'Nobile', sans-serif;
    text-align: justify;
}

h4 {
    color: rgb(255, 215, 0);
    font-family: 'Nobile', sans-serif;
}

.contenedor {
    width: auto;
}

.parte1,
.parte2 {
    display: inline-block;
}

.imagen {
    box-shadow: 32px 0 0 red,
        64px 0 0 gold;
}

@media (max-width : 720px) {
    .imagen {
        box-shadow: 16px 0 0 red,
            34px 0 0 gold;
    }
    h4{
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    #imagenp{
        width: 280px;
    }
}