<div class="row">
    <h2>Educacion</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h2>Educacion 1:</h2><h3>1 año</h3></li>
            <p>
                Pasantia de 1 año realizada en el Gabinete de Informatica Forense del Ministerio Publico Fiscal de la provincia de Entre Rios.
            </p>
        </ul>
        <ul>
            <li><h2>Educacion 2:</h2><h3>1 año</h3></li>
            <p>
                Pasantia de 1 año realizada en el Gabinete de Informatica Forense del Ministerio Publico Fiscal de la provincia de Entre Rios.
            </p>
        </ul>
        <ul>
            <li><h2>Educacion 3:</h2><h3>1 año</h3></li>
            <p>
                Pasantia de 1 año realizada en el Gabinete de Informatica Forense del Ministerio Publico Fiscal de la provincia de Entre Rios.
            </p>
        </ul>
        <ul>
            <li><h2>Educacion 4</h2><h3>1 año</h3></li>
            <p>
                Pasantia de 1 año realizada en el Gabinete de Informatica Forense del Ministerio Publico Fiscal de la provincia de Entre Rios.
            </p>
        </ul>
        
    </div>
</div>