<div class="row">
    <h2>Hard and Soft skills</h2>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/javascript.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/cplus.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/python.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/postgre.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/mysql.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="80" [outerStrokeWidth]="12" [innerStrokeWidth]="4"
            [outerStrokeColor]="'#4672fe'" [innerStrokeColor]="'#99afff'" [animation]="true" [animationDuration]="300"
            [title]="'HTML'" [titleColor]="'#72a4f3'" [showUnits]="false" [showSubtitle]="false"
            [imageSrc]="'../assets/images/java.png'" [showImage]="true" [imageHeight]="90"
            [imageWidth]="90"></circle-progress>
    </div>
</div>