.row{
    padding: 55px;
}
div{
    background-color: #020c1b;
    align-items: center;
}
h1{
    color: rgb(255, 215, 0);
    font-family: Raleway;
}
p,td{
    color: #4672fe;
    text-align: justify;
    font-family: cursive;
}
